#wrapper {
    padding: 8px;
    min-height: 150px;
}

#steam-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

#steam-container img {
    float:right;
}

#steam-auth-container {
    height: 35px;
}

#steam-auth:hover {
    cursor: pointer;
}

#steam-logged-in {
    flex:1;
}

#steam-avatar {
    border-radius: 4px;
    margin-right: 8px;
}

#meatball-menu {
    background: transparent url(img/meatballs.svg) 6px 2px/20px 20px no-repeat;
    width: 32px;
    min-width: 32px;
    height: 24px;
    margin-left: auto;
}

#meatball-menu:hover {
    background-color: #CCCCCC;
    border-radius: 4px;
}

#game-table-container {
    max-height: 300px;
    overflow-y: scroll;
}

#add-games {
    color: #C0C0C0;
    background-color: #F4F5F7;
    display: flex;
    height: 48px;
    align-items: center;
    padding: 8px;
    justify-content: flex-end;
    border-radius: 4px;
}

#manual-add-container {
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.manual-add {
    display: flex;
    margin-top: 8px;
    flex-direction: column;
}

.manual-add b {
    margin: 0 8px;
}

#manual-add {
    margin-top: 0;
    height: 36px;
    margin: 0 8px;
}

#manual-add-games-list {
    margin: 0;
}

#confirm-game {
    height: 40px;
    width: 85px;
    background-color: rgba(9,30,66,.04); 
}

.manual-add-search {
    display:flex;
    align-items: center;
    color: #A5ADBA;
    margin: 8px;
}

#manual-add-input {
    margin-bottom: 0;
    width: 250px;
}

#manual-add-create {
    display: flex;
    background-color: #F4F5F7;
    padding: 8px;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
}

#manual-add-name-input {
    width: 200px;
    height: 40px;
    margin-left: 8px;
    margin-bottom: 0px;
}

#manual-create-card {
    margin-left: 56px;
    margin-top: 0px;
    height: 40px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#manual-add-error,#manual-add-not-found {
    color: #C0C0C0;
    margin: 8px;
}

input[type="checkbox"] {
    box-shadow: inset 0 0 0 2px #dfe1e6;
    transform: scale(1.4);
}

input:checked {
    color: #fff;
    box-shadow: inset 0 0 0 2px #0079bf;
    background: #0079bf url(img/tick.svg) 1px 1px/16px 16px;
}

table {
    table-layout: fixed;
}

td, th {
    padding: 0;
    padding-top: 8px;
    padding-left: 8px;
}

th {
    background-color:#fff;
    padding-right: 8px;
    padding-bottom: 8px;
}

th:hover:not(:first-child) {
    background-color:  	#EBECEE;
    cursor: pointer;
}

tr:hover {
    background-color: #f7f8fa;
}


td, thead, table, th {
    border: 0;
}

.select-label {
    font-size: 10px;
    text-transform: uppercase;
    color: #A7A7A7;
}

#add-games-button {
    height: 40px;
    margin-top: 0;
    min-width: 110px;
}

#add-games-button-wrapper {
    min-width: 152px;
    display:flex;
    justify-content:flex-end;
}

#profile-error-message {
    color: #C0C0C0;
    margin: 16px 80px;
}

/* spinner CSS to https://codepen.io/benrugg/pen/eKHkL */
.loadingSpinner {
  border: 3px solid #FFF;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: 12px;
  height: 12px;
  opacity: .8;
  border-radius: 50%;
  animation: loadingSpinner 1s infinite linear;
  -webkit-animation: loadingSpinner 1s infinite linear;
  margin: 0 auto;
}

@keyframes loadingSpinner {
    from { transform: rotate(0deg)   }
    to   { transform: rotate(360deg) }
}

@-webkit-keyframes loadingSpinner {
    from { -webkit-transform: rotate(0deg)   }
    to   { -webkit-transform: rotate(360deg) }
}
